
<div class="login-container">
  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Iniciar sesión</h2>

    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" id="usuario" class="form-control" [(ngModel)]="usuario" />
    </div>

    <div class="mb-3">
      <label for="contrasenia" class="form-label">Contraseña</label>
      <input type="password" id="contrasenia" class="form-control" [(ngModel)]="contrasenia" />
    </div>

    <button class="btn btn-dark w-100" (click)="ingresar()">Ingresar</button>
    <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>  </div>
</div>
